
.loginPanel__wrapper {
  display: flex;
  flex-direction: column;
  color: $base__background-color;
}

.loginPanel__mainPanel{
  height: 80vh;
  background: $color-apricot;
  border-radius: 0 0 100px 0;
}

.loginPanel__startPanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.loginPanel__sandwich{
  display: flex;
  flex-direction: column;
}

.loginPanel__sandwich__a{
  width: 26px;
  height: 2px;
  background-color: $base__background-color;
  margin: 2px 0;
}

.loginPanel__sandwich__b{
  width: 18px;
  height: 2px;
  background-color: $base__background-color;
  margin: 2px 0;
}

.loginPanel__logo{
  height: 20px;
  width: 20px;
  background-color: $base__background-color;
  border-radius: 20px;
}

.loginPanel__text{
  width: 200px;
  transform: translateY(300px);

  >h1, h3{
    margin: 10px 0;
    line-height: 1.4;
  }

  >h1{
    font-weight: bolder;
    letter-spacing: 5px;
  }

  h3 {
    font-weight: 500;
    letter-spacing: 0.4px;

    >span{
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.loginPanel__start {
  height: 20vh;
  background-color: $base__background-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.loginPanel_btn {
  height: 35px;
  width: 160px;
  border-radius: 15px;
  padding: 10px;
  background-color: $color-apricot;
  border: 1px solid $base__background-color;
  color: $base__background-color;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font: bolder;
  text-align: center;
  line-height: 0.5;
  letter-spacing: 2px;
}