
.navPanel{
  position: absolute;
  width: 100vw;
  height: 170px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transform: translate(0, -170px);
  transition: transform 0.5s ease-in;
}

.open{
  transform: translate(0, 0);
}

.navPanel__list{
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;

  li{
  margin: 5px 0;
    a{
      color: $base__background-color;
      font-weight: bold;
    }

    a:hover{
      color: $color-apricot-dark;
    }
  }
}


section {
  display: none;
}

section.active {
  display: block;
}
