.section__wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.section__container {
  width: 100%;
  min-height: 90px;
  margin-bottom: 20px;
  background: $color-apricot;
  border-radius: 20px;
  transition: 50ms;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 2px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.section__container:hover{
  cursor: pointer;
  background: $color-border;

  > h4 {
    color: $color-element;
  }
}

.section__con_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  color: $base__background-color;

  > h3 {
    text-transform: uppercase;
  }
}

.section__icon {
  font-size: 20px;
  transition: all 0.5s;
}


.section__con__content{
  background-color: $base__background-color;
  display: none;
  animation: flipdown 0.8s ease both;
}

@keyframes flipdown{
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  20% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.section__container.active .section__icon{
  transform: rotate(180deg);
}

.section__container.active .section__con__content{
  display: block;
}

.section_con__list{
  list-style: none;
}

.section_con__listElement{
  margin: 10px;
}

.addingOption {
  margin-top: 20px;
  color: blue;
}